@model List<_01_LampshadeQuery.Contracts.Slide.SlideQueryModel>

@foreach(var slide in Model)
{
    <div class="container-fluid p-0 mb-5 pb-5">
        <div id="header-carousel" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img class="w-100" src="~/ProductPictures/@slide.Picture" alt="@slide.PictureAlt" title="@slide.PictureTitle">
                    <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
                        <div class="p-3" style="max-width: 900px;">
                            <h4 class="text-white text-uppercase mb-md-3">@slide.Heading</h4>
                            <h1 class="display-3 text-white mb-md-4">@slide.Title</h1>
                            <p class="display-3 text-white mb-md-5">@slide.Text</p>
                            <a href="@slide.Link" class="btn btn-primary py-md-3 px-md-5 mt-2">@slide.BtnText</a>
                        </div>
                    </div>
                </div>
            </div>
            <a class="carousel-control-prev" href="#header-carousel" data-slide="prev">
                <div class="btn btn-secondary px-0" style="width: 45px; height: 45px;">
                    <span class="carousel-control-prev-icon mb-n1"></span>
                </div>
            </a>
            <a class="carousel-control-next" href="#header-carousel" data-slide="next">
                <div class="btn btn-secondary px-0" style="width: 45px; height: 45px;">
                    <span class="carousel-control-next-icon mb-n1"></span>
                </div>
            </a>
        </div>
    </div>
}